---
import { SiMercadopago } from 'react-icons/si'
import { BsAmazon as FaAmazon } from 'react-icons/bs'
import baseUrl from '@/scripts/base'

const { title, description, image, urlMercado, urlAmazon } = Astro.props
---

<section>
  <div class="img-cover">
    <img
      src={`${baseUrl}/prods/${image}`}
      alt={title}
      transition:name={`image-${image}`}
      class="img-cover w-auto h-full object-contain md:mx-auto"
    />
  </div>
  <div class="div-info">
    <h1 transition:name={`title-${image}`}>{title}</h1>
    <p>
      {description}
    </p>

    <h4 class="pt-16">Disponible en:</h4>
    <a
      href={urlMercado ? urlMercado : '#'}
      target={urlMercado ? '_blank' : ''}
      class:list={[
        'urlProduct mercado',
        { 'opacity-50 cursor-not-allowed': !urlMercado },
      ]}>Mercado libre <SiMercadopago className="text-4xl" /></a
    >
    <a
      href={urlAmazon ? urlAmazon : '#'}
      target={urlAmazon ? '_blank' : ''}
      class:list={[
        'urlProduct amazon',
        { 'opacity-30 cursor-not-allowed': !urlAmazon },
      ]}>Amazon <FaAmazon className="text-2xl pt-1" /></a
    >
  </div>
</section>

<style>
  section {
    @apply flex pt-16 flex-col md:flex-row;
  }

  .img-cover {
    @apply w-full md:w-1/2 h-96  my-auto;
  }

  .div-info {
    @apply w-full md:w-1/2 px-10 md:px-20;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold text-pretty text-center py-5 font-Inter;
  }

  p {
    @apply text-lg text-gray-700 font-Roboto;
  }

  .mercado {
    @apply bg-yellow-400 p-2 border-yellow-500;
  }
  .amazon {
    @apply bg-gray-900 text-white p-3 border-gray-950;
  }

  .urlProduct {
    @apply mt-2 md:mt-3 text-xl font-semibold flex items-center gap-3 hover:shadow  justify-center border rounded-md;
  }
</style>
